* {padding: 0; margin: 0;}
html, body {width: 100%; height: 100%;}

/* genral styles just for this examples */
body > div {
  width: 40px;
  height: 40px;
  border: 1px solid #bbb;
  float: left;
  margin: 15px;
  position: relative;
}
body > div:hover {
  cursor: pointer;
  background-color: #eee;
}

/* ========================= */
#prevItem {
  width: 40px;
  height: 40px;
  position: relative;
}
#prevItem:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-left: 3px solid #888;
  border-top: 3px solid #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotateZ(-45deg) skew(10deg, 10deg) translate(3px,3px);
     -moz-transform: rotateZ(-45deg) skew(10deg, 10deg) translate(3px,3px);
      -ms-transform: rotateZ(-45deg) skew(10deg, 10deg) translate(3px,3px);
       -o-transform: rotateZ(-45deg) skew(10deg, 10deg) translate(3px,3px);
          transform: rotateZ(-45deg) skew(10deg, 10deg) translate(3px,3px);
}

/* ========================= */
#nextItem {
  width: 40px;
  height: 40px;
  position: relative;
}
#nextItem:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-right: 3px solid #888;
  border-top: 3px solid #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotateZ(45deg) skew(-10deg, -10deg) translate(-3px, 3px);
     -moz-transform: rotateZ(45deg) skew(-10deg, -10deg) translate(-3px, 3px);
      -ms-transform: rotateZ(45deg) skew(-10deg, -10deg) translate(-3px, 3px);
       -o-transform: rotateZ(45deg) skew(-10deg, -10deg) translate(-3px, 3px);
          transform: rotateZ(45deg) skew(-10deg, -10deg) translate(-3px, 3px);
}

/* ========================= */
#firstItem {
  width: 40px;
  height: 40px;
  position: relative;
}
#firstItem:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-left: 2px solid #888;
  border-top: 2px solid #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotateZ(-45deg) skew(10deg, 10deg);
     -moz-transform: rotateZ(-45deg) skew(10deg, 10deg);
      -ms-transform: rotateZ(-45deg) skew(10deg, 10deg);
       -o-transform: rotateZ(-45deg) skew(10deg, 10deg);
          transform: rotateZ(-45deg) skew(10deg, 10deg);
}
#firstItem:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-left: 2px solid #888;
  border-top: 2px solid #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotateZ(-45deg) skew(10deg, 10deg) translate(4px, 4px);
     -moz-transform: rotateZ(-45deg) skew(10deg, 10deg) translate(4px, 4px);
      -ms-transform: rotateZ(-45deg) skew(10deg, 10deg) translate(4px, 4px);
       -o-transform: rotateZ(-45deg) skew(10deg, 10deg) translate(4px, 4px);
          transform: rotateZ(-45deg) skew(10deg, 10deg) translate(4px, 4px);
}

/* ========================= */
#lastItem {
  width: 40px;
  height: 40px;
  position: relative;
}
#lastItem:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 2px solid #888;
  border-top: 2px solid #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotateZ(45deg) skew(-10deg, -10deg);
     -moz-transform: rotateZ(45deg) skew(-10deg, -10deg);
      -ms-transform: rotateZ(45deg) skew(-10deg, -10deg);
       -o-transform: rotateZ(45deg) skew(-10deg, -10deg);
          transform: rotateZ(45deg) skew(-10deg, -10deg);
}
#lastItem:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 2px solid #888;
  border-top: 2px solid #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotateZ(45deg) skew(-10deg, -10deg) translate(-4px, 4px);
     -moz-transform: rotateZ(45deg) skew(-10deg, -10deg) translate(-4px, 4px);
      -ms-transform: rotateZ(45deg) skew(-10deg, -10deg) translate(-4px, 4px);
       -o-transform: rotateZ(45deg) skew(-10deg, -10deg) translate(-4px, 4px);
          transform: rotateZ(45deg) skew(-10deg, -10deg) translate(-4px, 4px);
}

/* ========================= */
@-webkit-keyframes spinningAnim {
  0% {
    -webkit-transform: translateZ(0) rotateZ(0deg);
       -moz-transform: translateZ(0) rotateZ(0deg);
        -ms-transform: translateZ(0) rotateZ(0deg);
         -o-transform: translateZ(0) rotateZ(0deg);
            transform: translateZ(0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateZ(0) rotateZ(360deg);
       -moz-transform: translateZ(0) rotateZ(360deg);
        -ms-transform: translateZ(0) rotateZ(360deg);
         -o-transform: translateZ(0) rotateZ(360deg);
            transform: translateZ(0) rotateZ(360deg);
  }
}
/* ========================= */
/* Animation on preudo elements works only on chrome, ff and mb IE10+ */
#loading {
  width: 40px;
  height: 40px;
  position: relative;
}
#loading:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  background-color: #444;
}
#loading:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: auto;
  z-index: 2;
  border: 3px solid;
  border-radius: 50%;
  border-left-color: #E25454;
  border-top-color: #4652E0;
  border-right-color: #2BAC2B;
  border-bottom-color: #CAB831;
  -webkit-animation: spinningAnim linear 1s 0 infinite;
     -moz-animation: spinningAnim linear 1s 0 infinite;
       -o-animation: spinningAnim linear 1s 0 infinite;
          animation: spinningAnim linear 1s 0 infinite;
}

/* ========================= */
/* Same spinner, but this time without animate preudo element */
#loading2 {
  width: 40px;
  height: 40px;
  position: relative;
}
#loading2:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  background-color: #444;
}
#loading2 > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: auto;
  z-index: 2;
  border: 3px dashed;
  border-radius: 50%;
  border-left-color: #E25454;
  border-top-color: #4652E0;
  border-right-color: #2BAC2B;
  border-bottom-color: #CAB831;
  -webkit-animation: spinningAnim linear 1s 0 infinite;
     -moz-animation: spinningAnim linear 1s 0 infinite;
       -o-animation: spinningAnim linear 1s 0 infinite;
          animation: spinningAnim linear 1s 0 infinite;
}

/* ========================= */
#itemList {
  width: 40px;
  height: 40px;
  position: relative;
}
#itemList>div:first-child {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translate(-6px,-6px);
     -moz-transform: translate(-6px,-6px);
      -ms-transform: translate(-6px,-6px);
       -o-transform: translate(-6px,-6px);
          transform: translate(-6px,-6px);
}
#itemList>div:first-child:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -12px;
  background-color: #888;
}
#itemList>div:last-child {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translate(-6px, 6px);
     -moz-transform: translate(-6px, 6px);
      -ms-transform: translate(-6px, 6px);
       -o-transform: translate(-6px, 6px);
          transform: translate(-6px, 6px);
}
#itemList>div:last-child:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -12px;
  background-color: #888;
}

/* ========================= */
#changeWindow {
  width: 40px;
  height: 40px;
  position: relative;
}
#changeWindow:before {
  content: "";
  width: 12px;
  height: 16px;
  background-color: #aaa;
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translate(-2px, -2px);
     -moz-transform: translate(-2px, -2px);
      -ms-transform: translate(-2px, -2px);
       -o-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}
#changeWindow:after {
  content: ""; 
  width: 12px;
  height: 16px; 
  background-color: #777;
  display: block;
  position: absolute; 
  z-index: 1;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translate(1px, 1px);
     -moz-transform: translate(1px, 1px);
      -ms-transform: translate(1px, 1px);
       -o-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

/* ========================= */
#close {
  width: 40px;
  height: 40px;
  position: relative;
}
#close:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-left: 3px solid #888;
  border-top: 3px solid #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotateZ(-45deg) translate(5px,5px);
     -moz-transform: rotateZ(-45deg) translate(5px,5px);
      -ms-transform: rotateZ(-45deg) translate(5px,5px);
       -o-transform: rotateZ(-45deg) translate(5px,5px);
          transform: rotateZ(-45deg) translate(5px,5px);
}
#close:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 3px solid #888;
  border-top: 3px solid #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotateZ(45deg) translate(-5px,5px);
     -moz-transform: rotateZ(45deg) translate(-5px,5px);
      -ms-transform: rotateZ(45deg) translate(-5px,5px);
       -o-transform: rotateZ(45deg) translate(-5px,5px);
          transform: rotateZ(45deg) translate(-5px,5px);
}

/* ========================= */
#list {
  width: 40px;
  height: 40px;
  position: relative;
}
#list > div {
  width: 15px;
  height: 2px;
  background-color: #888;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#list > div:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #888;
  border-radius: 50%;
  left: -6px;
  top: -1px;
}
#list > div:first-child {
  -webkit-transform: translateY(-6px);
     -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
       -o-transform: translateY(-6px);
          transform: translateY(-6px);
}
#list > div:last-child {
  -webkit-transform: translateY(6px);
     -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
       -o-transform: translateY(6px);
          transform: translateY(6px);
}

/* ========================= */
#sandwich {
  width: 40px;
  height: 40px;
  position: relative;
}
#sandwich:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #888;
}
#sandwich:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 9px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 3px solid #888;
  border-bottom: 3px solid #888;
}

/* ========================= */
#fullScreen {
  width: 40px;
  height: 40px;
  position: relative;
}
#fullScreen > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 1px;
  -webkit-transform: translate(-10px, -10px);
     -moz-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
       -o-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}
#fullScreen > div:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-left: 2px solid #888;
  border-top: 2px solid #888;
  -webkit-transform: skew(10deg, 10deg);
     -moz-transform: skew(10deg, 10deg);
      -ms-transform: skew(10deg, 10deg);
       -o-transform: skew(10deg, 10deg);
          transform: skew(10deg, 10deg);
}
#fullScreen > div:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 2px;
  background-color: #888;
  -webkit-transform: rotateZ(45deg) translate(2px, 3px);
     -moz-transform: rotateZ(45deg) translate(2px, 3px);
      -ms-transform: rotateZ(45deg) translate(2px, 3px);
       -o-transform: rotateZ(45deg) translate(2px, 3px);
          transform: rotateZ(45deg) translate(2px, 3px);
}
#fullScreen > div:nth-child(2) {
  -webkit-transform: rotateZ(90deg) translate(-10px, -10px);
     -moz-transform: rotateZ(90deg) translate(-10px, -10px);
      -ms-transform: rotateZ(90deg) translate(-10px, -10px);
       -o-transform: rotateZ(90deg) translate(-10px, -10px);
          transform: rotateZ(90deg) translate(-10px, -10px);
}
#fullScreen > div:nth-child(3) {
  -webkit-transform: rotateZ(180deg) translate(-10px, -10px);
     -moz-transform: rotateZ(180deg) translate(-10px, -10px);
      -ms-transform: rotateZ(180deg) translate(-10px, -10px);
       -o-transform: rotateZ(180deg) translate(-10px, -10px);
          transform: rotateZ(180deg) translate(-10px, -10px);
}
#fullScreen > div:nth-child(4) {
  -webkit-transform: rotateZ(270deg) translate(-10px, -10px);
     -moz-transform: rotateZ(270deg) translate(-10px, -10px);
      -ms-transform: rotateZ(270deg) translate(-10px, -10px);
       -o-transform: rotateZ(270deg) translate(-10px, -10px);
          transform: rotateZ(270deg) translate(-10px, -10px);
}

/* ========================= */
#mail {
  width: 40px;
  height: 40px;
  position: relative;
}
#mail > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 24px;
  height: 18px;
  border: 1px solid #888;
  background-color: #fff;
  overflow: hidden;
}
#mail > div:before {
  content: "";
  position: absolute;
  width: 17px;
  bottom: -9px;
  left: 3px;
  height: 17px;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
#mail > div:after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: 3px;
  top: -9px;
  border-bottom: 1px solid #888;
  border-left: 1px solid #888;
  background-color: #fff;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

/* ========================= */
#play {
  width: 40px;
  height: 40px;
  position: relative;
}
#play:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-left: 15px solid #888;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* ========================= */
#pause {
  width: 40px;
  height: 40px;
  position: relative;
}
#pause:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 6px;
  height: 20px;
  border-left: 3px solid #888;
  border-right: 3px solid #888;
}

/* ========================= */
#stop {
  width: 40px;
  height: 40px;
  position: relative;
}
#stop:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 17px;
  height: 17px;
  background-color: #888;
}

/* ========================= */
#add {
  width: 40px;
  height: 40px;
  position: relative;
}
#add:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 17px;
  height: 3px;
  background-color: #888;
}
#add:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 3px;
  height: 17px;
  background-color: #888;
}

/* ========================= */
#collapse {
  width: 40px;
  height: 40px;
  position: relative;
}
#collapse:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 17px;
  height: 3px;
  background-color: #888;
}

/* ========================= */
#refresh {
  width: 40px;
  height: 40px;
  position: relative;
}
#refresh:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 17px;
  height: 17px;
  border: 3px solid #888;
  border-right-color: transparent;
  border-radius: 50%;
}
#refresh:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-right: 10px solid #888;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -webkit-transform: translate(6px, -5px);
     -moz-transform: translate(6px, -5px);
      -ms-transform: translate(6px, -5px);
       -o-transform: translate(6px, -5px);
          transform: translate(6px, -5px);
}

/* ========================= */
#connection {
  width: 40px;
  height: 40px;
  position: relative;
}
#connection:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 26px;
  height: 26px;
  border: 3px solid transparent;
  border-top: 3px solid #ccc;
  border-radius: 50%;
  -webkit-transform: translateY(7px);
     -moz-transform: translateY(7px);
      -ms-transform: translateY(7px);
       -o-transform: translateY(7px);
          transform: translateY(7px);
}
#connection:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  border: 3px solid transparent;
  border-top: 3px solid #888;
  border-radius: 50%;
  -webkit-transform: translateY(7px);
     -moz-transform: translateY(7px);
      -ms-transform: translateY(7px);
       -o-transform: translateY(7px);
          transform: translateY(7px);
}
#connection > div {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 4px;
  height: 4px;
  background-color: #888;
  border-radius: 50%;
  -webkit-transform: translateY(7px);
     -moz-transform: translateY(7px);
      -ms-transform: translateY(7px);
       -o-transform: translateY(7px);
          transform: translateY(7px);
}
#connection > div:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -5px;
  margin: auto;
  width: 8px;
  height: 8px;
  border: 3px solid transparent;
  border-top: 3px solid #888;
  border-radius: 50%;
}

/* ========================= */
#sharing {
  width: 40px;
  height: 40px;
  position: relative;
}
#sharing:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-left: 3px solid #888;
  border-top: 3px solid #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotateZ(-45deg) skew(20deg, 20deg) translate(3px,3px);
     -moz-transform: rotateZ(-45deg) skew(20deg, 20deg) translate(3px,3px);
      -ms-transform: rotateZ(-45deg) skew(20deg, 20deg) translate(3px,3px);
       -o-transform: rotateZ(-45deg) skew(20deg, 20deg) translate(3px,3px);
          transform: rotateZ(-45deg) skew(20deg, 20deg) translate(3px,3px);
}
#sharing > div {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #888;
  border-radius: 50%;
  -webkit-transform: translateX(-9px);
     -moz-transform: translateX(-9px);
      -ms-transform: translateX(-9px);
       -o-transform: translateX(-9px);
          transform: translateX(-9px);
}
#sharing > div:before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  top: -7px;
  left: 15px;
  margin: auto;
  background-color: #888;
  border-radius: 50%;
}
#sharing > div:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  top: 7px;
  left: 15px;
  margin: auto;
  background-color: #888;
  border-radius: 50%;
}

/* ========================= */
#denied {
  width: 40px;
  height: 40px;
  position: relative;
}
#denied:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid #888;
  border-radius: 50%;
}
#denied:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #888;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

/* ========================= */
#search {
  width: 40px;
  height: 40px;
  position: relative;
}
#search:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid #888;
  border-radius: 50%;
  -webkit-transform: translate(-2px, -2px);
     -moz-transform: translate(-2px, -2px);
      -ms-transform: translate(-2px, -2px);
       -o-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}
#search:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #888;
  -webkit-transform: rotateZ(45deg) translateX(8px);
     -moz-transform: rotateZ(45deg) translateX(8px);
      -ms-transform: rotateZ(45deg) translateX(8px);
       -o-transform: rotateZ(45deg) translateX(8px);
          transform: rotateZ(45deg) translateX(8px);
}

/* ========================= */
#previous {
  width: 40px;
  height: 40px;
  position: relative;
}
#previous:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 8px;
  border-right: 3px solid #888;
  border-top: 3px solid #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#previous:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 10px solid #888;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translate(-10px, -4px);
     -moz-transform: translate(-10px, -4px);
      -ms-transform: translate(-10px, -4px);
       -o-transform: translate(-10px, -4px);
          transform: translate(-10px, -4px);
}

/* ========================= */
#forward {
  width: 40px;
  height: 40px;
  position: relative;
}
#forward:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 8px;
  border-left: 3px solid #888;
  border-top: 3px solid #888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#forward:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid #888;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translate(10px, -4px);
     -moz-transform: translate(10px, -4px);
      -ms-transform: translate(10px, -4px);
       -o-transform: translate(10px, -4px);
          transform: translate(10px, -4px);
}

/* ========================= */
#cloud {
  width: 40px;
  height: 40px;
  position: relative;
}
#cloud:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 10px;
  background-color: #888;
  border-radius: 45%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#cloud:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 11px;
  height: 11px;
  background-color: #888;
  border-radius: 50%;
  -webkit-transform: translateY(-5px);
     -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
       -o-transform: translateY(-5px);
          transform: translateY(-5px);
}

/* ========================= */
#cloud2 {
  width: 40px;
  height: 40px;
  position: relative;
}
#cloud2 > div {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #888;
  border-radius: 50% 50% 0% 40%;
  -webkit-transform: translateX(-6px);
     -moz-transform: translateX(-6px);
      -ms-transform: translateX(-6px);
       -o-transform: translateX(-6px);
          transform: translateX(-6px);
}
#cloud2 > div:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #888;
  border-radius: 50% 50% 50% 0%;
  -webkit-transform: translate(10px, -2px);
     -moz-transform: translate(10px, -2px);
      -ms-transform: translate(10px, -2px);
       -o-transform: translate(10px, -2px);
          transform: translate(10px, -2px);
}
#cloud2 > div:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #888;
  border-radius: 50% 50% 50% 50%;
  -webkit-transform: translate(3px, -6px);
     -moz-transform: translate(10px, -2px);
      -ms-transform: translate(10px, -2px);
       -o-transform: translate(10px, -2px);
          transform: translate(10px, -2px);
}

/* ========================= */
#volume {
  width: 40px;
  height: 40px;
  position: relative;
}
#volume > div {
  position: absolute;
  width: 0;
  height: 7px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-right: 7px solid #888;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
#volume > div:before {
  content: '';
  position: absolute;
  top: 0;
  left: -4px;
  width: 5px;
  height: 7px;
  background-color: #888;
}
#volume > div:after {
  content: '';
  position: absolute;
  top: -4px;
  left: -3px;
  border: 3px solid transparent;
  border-right: 3px solid #888;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

/* ========================= */
#mic {
  width: 40px;
  height: 40px;
  position: relative;
}
#mic:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 11px;
  height: 3px;
  background-color: #888;
  -webkit-transform: translateY(12px);
     -moz-transform: translateY(12px);
      -ms-transform: translateY(12px);
       -o-transform: translateY(12px);
          transform: translateY(12px);
}
#mic:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
  width: 3px; 
  height: 5px; background-color: #888;
  -webkit-transform: translateY(8px);
     -moz-transform: translateY(8px);
      -ms-transform: translateY(8px);
       -o-transform: translateY(8px);
          transform: translateY(8px);
}
#mic > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 7px; 
  height: 16px;
  background-color: #888;
  border-radius: 40%;
  -webkit-transform: translateY(-7px);
     -moz-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
       -o-transform: translateY(-7px);
          transform: translateY(-7px);
}
#mic > div:before {
  position: absolute; 
  content: '';
  top: 9px;  
  left: -4px;
  margin: auto;
  width: 9px;
  height: 5px;
  border: 3px solid #888;
  border-bottom: 3px solid #888;
  border-radius: 0% 0% 50% 50%;
  border-top-color: transparent;
}

/* ========================= */
#chat {
  width: 40px;
  height: 40px;
  position: relative;
}
#chat:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 23px;
  height: 17px;
  background-color: #888;
  border-radius: 50%;
  -webkit-transform: translateY(-2px);
     -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
       -o-transform: translateY(-2px);
          transform: translateY(-2px);
}
#chat:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-left: 5px solid #888;
  border-radius: 40px;
  height: 15px;
  width: 15px;
  -webkit-transform: translate(14px, 3px);
     -moz-transform: translate(14px, 3px);
      -ms-transform: translate(14px, 3px);
       -o-transform: translate(14px, 3px);
          transform: translate(14px, 3px);
}

/* ========================= */
#edit {
  width: 40px;
  height: 40px;
  position: relative;
}
#edit:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 8px solid #888;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  -webkit-transform: translate(-3px, 9px);
     -moz-transform: translate(-3px, 9px);
      -ms-transform: translate(-3px, 9px);
       -o-transform: translate(-3px, 9px);
          transform: translate(-3px, 9px);
}
#edit:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
  width: 8px; 
  height: 20px;
  background-color: #888;
  -webkit-transform: rotateZ(25deg) translateY(-4px);
     -moz-transform: rotateZ(25deg) translateY(-4px);
      -ms-transform: rotateZ(25deg) translateY(-4px);
       -o-transform: rotateZ(25deg) translateY(-4px);
          transform: rotateZ(25deg) translateY(-4px);
}

/* ========================= */
#webcam {
  width: 40px;
  height: 40px;
  position: relative;
}
#webcam:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 17px;
  height: 14px;
  background-color: #888;
  border-radius: 25%;
  -webkit-transform: translateX(-4px);
     -moz-transform: translateX(-4px);
      -ms-transform: translateX(-4px);
       -o-transform: translateX(-4px);
          transform: translateX(-4px);
}
#webcam:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 8px solid #888;
  border-bottom: 7px solid transparent;
  -webkit-transform: translateX(9px);
     -moz-transform: translateX(9px);
      -ms-transform: translateX(9px);
       -o-transform: translateX(9px);
          transform: translateX(9px);
}

/* ========================= */
#photo {
  width: 40px;
  height: 40px;
  position: relative;
}
#photo > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 15px;
  background-color: #888;
  border-radius: 20%;
}
#photo > div:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 5px;
  height: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
}
#photo > div:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 2px;
  width: 5px;
  height: 4px;
  background-color: #888;
}

/* ========================= */
#home {
  width: 40px;
  height: 40px;
  position: relative;
}
#home > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 16px;
  height: 10px;
  background-color: #888;
  -webkit-transform: translateY(6px);
     -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
       -o-transform: translateY(6px);
          transform: translateY(6px);
}
#home > div:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 12px solid #888;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  -webkit-transform: translate(-4px, -12px);
     -moz-transform: translate(-4px, -12px);
      -ms-transform: translate(-4px, -12px);
       -o-transform: translate(-4px, -12px);
          transform: translate(-4px, -12px);
}
#home > div:after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: translate(6px, -6px);
     -moz-transform: translate(6px, -6px);
      -ms-transform: translate(6px, -6px);
       -o-transform: translate(6px, -6px);
          transform: translate(6px, -6px);
}

/* ========================= */
#like {
  width: 40px;
  height: 40px;
  position: relative;
}
#like > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 10px solid #888;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  width: 0;
  height: 0;
  -webkit-transform: translateY(5px);
     -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
       -o-transform: translateY(5px);
          transform: translateY(5px);
}
#like > div:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: #888;
  border-radius: 50% 70%;
  -webkit-transform: translate(-10px, -19px);
     -moz-transform: translate(-10px, -19px);
      -ms-transform: translate(-10px, -19px);
       -o-transform: translate(-10px, -19px);
          transform: translate(-10px, -19px);
}
#like > div:after {
  content: ''; display: block; width: 12px; height: 12px; background-color: #888; 
  border-radius: 70% 50%; 
  -webkit-transform: translate(-2px, -31px);
     -moz-transform: translate(-2px, -31px);
      -ms-transform: translate(-2px, -31px);
       -o-transform: translate(-2px, -31px);
          transform: translate(-2px, -31px);
}

/* ========================= */
#trash {
  width: 40px;
  height: 40px;
  position: relative;
}
#trash > div:first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 16px;
  height: 20px;
  background-color: #888;
  border-radius: 0% 0% 20% 20%;
  -webkit-transform: translateY(3px);
     -moz-transform: translateY(3px);
      -ms-transform: translateY(3px);
       -o-transform: translateY(3px);
          transform: translateY(3px);
}
#trash > div:first-child:before {
  content: '';
  display: block;
  width: 22px;
  height: 3px;
  background-color: #888;
  border-radius: 3px 3px 0% 0;
  -webkit-transform: translate(-3px, -4px);
     -moz-transform: translate(-3px, -4px);
      -ms-transform: translate(-3px, -4px);
       -o-transform: translate(-3px, -4px);
          transform: translate(-3px, -4px);
}
#trash > div:first-child:after {
  content: '';
  display: block; 
  width: 12px; 
  height: 2px;
  background-color: #888; 
  border-radius: 2px 2px 0% 0; 
  -webkit-transform: translate(2px, -10px);
     -moz-transform: translate(2px, -10px);
      -ms-transform: translate(2px, -10px);
       -o-transform: translate(2px, -10px);
          transform: translate(2px, -10px);
}
#trash > div:last-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 2px;
  height: 15px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transform: translateY(2px);
     -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
       -o-transform: translateY(2px);
          transform: translateY(2px);
}
#trash > div:last-child:before {
  content: '';
  display: block;
  width: 2px;
  height: 15px;
  background-color: #fff;
  border-radius: 2px; 
  -webkit-transform: translateX(4px);
     -moz-transform: translateX(4px);
      -ms-transform: translateX(4px);
       -o-transform: translateX(4px);
          transform: translateX(4px);
}
#trash > div:last-child:after {
  content: '';
  display: block;
  width: 2px;
  height: 15px;
  background-color: #fff;
  border-radius: 2px; 
  -webkit-transform: translate(-4px, -15px);
     -moz-transform: translate(-4px, -15px);
      -ms-transform: translate(-4px, -15px);
       -o-transform: translate(-4px, -15px);
          transform: translate(-4px, -15px);
}

/* ========================= */
#power {
  width: 40px;
  height: 40px;
  position: relative;
}
#power:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  border: 3px solid #888;
  border-radius: 50%;
  border-top-color: transparent;
}
#power:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 3px;
  height: 14px;
  background-color: #888;
  -webkit-transform: translateY(-5px);
     -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
       -o-transform: translateY(-5px);
          transform: translateY(-5px);
}

/* ========================= */
#warning {
  width: 40px;
  height: 40px;
  position: relative;
}
#warning > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #888;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
#warning > div:before {
  content: '';
  display: block;
  width: 3px;
  height: 9px;
  background-color: #888;
  -webkit-transform: translate(8px, 7px);
     -moz-transform: translate(8px, 7px);
      -ms-transform: translate(8px, 7px);
       -o-transform: translate(8px, 7px);
          transform: translate(8px, 7px);
}
#warning > div:after {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #888;
  -webkit-transform: translate(8px, -7px);
     -moz-transform: translate(8px, -7px);
      -ms-transform: translate(8px, -7px);
       -o-transform: translate(8px, -7px);
          transform: translate(8px, -7px);
}

/* ========================= */
#folders {
  width: 40px;
  height: 40px;
  position: relative;
}
#folders > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 23px;
  background-color: #888;
  border-radius: 2px 2px 0 0;
}
#folders > div:before {
  content: '';
  display: block;
  width: 25px;
  height: 20px;
  background-color: #aaa;
  border-radius: 2px 2px 0 0;
  -webkit-transform: skewX(15deg) translate(-4px, 3px);
     -moz-transform: skewX(15deg) translate(-4px, 3px);
      -ms-transform: skewX(15deg) translate(-4px, 3px);
       -o-transform: skewX(15deg) translate(-4px, 3px);
          transform: skewX(15deg) translate(-4px, 3px);
  
}
#folders > div:after {
  content: '';
  display: block;
  width: 7px;
  height: 3px;
  background-color: #888;
  border-radius: 1px 1px 0 0;
  -webkit-transform: translate(1px, -22px);
     -moz-transform: translate(1px, -22px);
      -ms-transform: translate(1px, -22px);
       -o-transform: translate(1px, -22px);
          transform: translate(1px, -22px);
}

/* ========================= */
#battery {
  width: 40px;
  height: 40px;
  position: relative;
}
#battery:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 7px;
  height: 16px;
  border: 2px solid #888;
}
#battery:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 7px;
  height: 3px;
  background-color: #888;
  -webkit-transform: translateY(-12px);
     -moz-transform: translateY(-12px);
      -ms-transform: translateY(-12px);
       -o-transform: translateY(-12px);
          transform: translateY(-12px);
}
#battery > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 5px;
  height: 4px;
  background-color: #888;
}
#battery > div:before {
  content: '';
  display: block;
  width: 5px;
  height: 4px;
  background-color: #888;
  -webkit-transform: translateY(-5px);
     -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
       -o-transform: translateY(-5px);
          transform: translateY(-5px);
}
#battery > div:after {
  content: '';
  display: block;
  width: 5px;
  height: 4px;
  background-color: #888; 
  -webkit-transform: translateY(1px);
     -moz-transform: translateY(1px);
      -ms-transform: translateY(1px);
       -o-transform: translateY(1px);
          transform: translateY(1px);
}

/* ========================= */
#print {
  width: 40px;
  height: 40px;
  position: relative;
}
#print > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 14px;
  background-color: #888;
  border-radius: 3px;
}
#print > div:before {
  content: '';
  display: block;
  width: 10px;
  height: 8px;
  background-color: #fff;
  border: 2px solid #888;
  border-radius: 0 0 3px 3px;
  -webkit-transform: translate(6px, 8px);
     -moz-transform: translate(6px, 8px);
      -ms-transform: translate(6px, 8px);
       -o-transform: translate(6px, 8px);
          transform: translate(6px, 8px);
}
#print > div:after {
  content: '';
  display: block;
  width: 10px; 
  height: 7px;
  background-color: #fff;
  border: 2px solid #888; 
  border-bottom: none;
  border-radius: 3px 3px 0 0; 
  -webkit-transform: translate(6px, -21px);
     -moz-transform: translate(6px, -21px);
      -ms-transform: translate(6px, -21px);
       -o-transform: translate(6px, -21px);
          transform: translate(6px, -21px);
}

/* ========================= */
#print {
  width: 40px;
  height: 40px;
  position: relative;
}
#showpass:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 9px;
  border-left: 8px solid #888;
  border-right: 8px solid #888;
  border-radius: 50%;
}
#showpass:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 2px;
  height: 3px;
  border: 2px solid #888;
  border-radius: 50%;
}

/* ========================= */
#private {
  width: 40px;
  height: 40px;
  position: relative;
}
#private:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 13px;
  height: 13px;
  background-color: #888;
  border-radius: 2px;
  -webkit-transform: translateY(2px);
     -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
       -o-transform: translateY(2px);
          transform: translateY(2px);
}
#private:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 5px;
  height: 5px;
  border: 2px solid #888;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  -webkit-transform: translateY(-8px);
     -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
       -o-transform: translateY(-8px);
          transform: translateY(-8px);
}

/* ========================= */
#private2 {
  width: 40px;
  height: 40px;
  position: relative;
}
#private2:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 14px;
  height: 13px;
  background-color: #888;
  border-radius: 2px;
  -webkit-transform: translateY(2px);
     -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
       -o-transform: translateY(2px);
          transform: translateY(2px);
}
#private2:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 6px;
  height: 5px;
  border: 2px solid #888;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  -webkit-transform: translateY(-8px);
     -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
       -o-transform: translateY(-8px);
          transform: translateY(-8px);
}
#private2 > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
}
#private2 > div:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 5px solid #fff;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  -webkit-transform: translate(0px, 2px);
     -moz-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
       -o-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
}

/* ========================= */
#location {
  width: 40px;
  height: 40px;
  position: relative;
}
#location:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  border: 2px solid #888;
  border-radius: 50%;
}
#location:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 2px;
  height: 8px;
  background-color: #888;
  -webkit-transform: translateY(-8px);
     -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
       -o-transform: translateY(-8px);
          transform: translateY(-8px);
}
#location > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 2px;
  height: 8px;
  background-color: #888;
  -webkit-transform: translateY(8px);
     -moz-transform: translateY(8px);
      -ms-transform: translateY(8px);
       -o-transform: translateY(8px);
          transform: translateY(8px);
}
#location > div:before {
  content: '';
  display: block;
  width: 8px; 
  height: 2px;
  background-color: #888; 
  -webkit-transform: translate(-11px, -5px);
     -moz-transform: translate(-11px, -5px);
      -ms-transform: translate(-11px, -5px);
       -o-transform: translate(-11px, -5px);
          transform: translate(-11px, -5px);
}
#location > div:after {
  content: '';
  display: block;
  width: 8px;
  height: 2px;
  background-color: #888; 
  -webkit-transform: translate(5px, -7px);
     -moz-transform: translate(5px, -7px);
      -ms-transform: translate(5px, -7px);
       -o-transform: translate(5px, -7px);
          transform: translate(5px, -7px);
}

/* ========================= */
#star {
  width: 40px;
  height: 40px;
  position: relative;
}
#star > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: 7px solid #888;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transform: rotateZ(35deg);
     -moz-transform: rotateZ(35deg);
      -ms-transform: rotateZ(35deg);
       -o-transform: rotateZ(35deg);
          transform: rotateZ(35deg);
}
#star > div:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 7px solid #888;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transform: rotateZ(-70deg) translate(-4px, -10px);
     -moz-transform: rotateZ(-70deg) translate(-4px, -10px);
      -ms-transform: rotateZ(-70deg) translate(-4px, -10px);
       -o-transform: rotateZ(-70deg) translate(-4px, -10px);
          transform: rotateZ(-70deg) translate(-4px, -10px);
}
#star > div:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 7px solid #888;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  -webkit-transform: rotateZ(-35deg) translate(1px, -13px);
     -moz-transform: rotateZ(-35deg) translate(1px, -13px);
      -ms-transform: rotateZ(-35deg) translate(1px, -13px);
       -o-transform: rotateZ(-35deg) translate(1px, -13px);
          transform: rotateZ(-35deg) translate(1px, -13px);
}

/* ========================= */
#emptystar {
  width: 40px;
  height: 40px;
  position: relative;
}
#emptystar > div:first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: 7px solid #888;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transform: rotateZ(35deg);
     -moz-transform: rotateZ(35deg);
      -ms-transform: rotateZ(35deg);
       -o-transform: rotateZ(35deg);
          transform: rotateZ(35deg);
}
#emptystar > div:first-child:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 7px solid #888;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transform: rotateZ(-70deg) translate(-4px, -10px);
     -moz-transform: rotateZ(-70deg) translate(-4px, -10px);
      -ms-transform: rotateZ(-70deg) translate(-4px, -10px);
       -o-transform: rotateZ(-70deg) translate(-4px, -10px);
          transform: rotateZ(-70deg) translate(-4px, -10px);
}
#emptystar > div:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 7px solid #888;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  -webkit-transform: rotateZ(-35deg) translate(1px, -13px);
     -moz-transform: rotateZ(-35deg) translate(1px, -13px);
      -ms-transform: rotateZ(-35deg) translate(1px, -13px);
       -o-transform: rotateZ(-35deg) translate(1px, -13px);
          transform: rotateZ(-35deg) translate(1px, -13px);
}
#emptystar > div:last-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: 7px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transform: rotateZ(35deg) scale(0.7);
     -moz-transform: rotateZ(35deg) scale(0.7);
      -ms-transform: rotateZ(35deg) scale(0.7);
       -o-transform: rotateZ(35deg) scale(0.7);
          transform: rotateZ(35deg) scale(0.7);
}
#emptystar > div:last-child:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 7px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transform: rotateZ(-70deg) translate(-4px, -10px);
     -moz-transform: rotateZ(-70deg) translate(-4px, -10px);
      -ms-transform: rotateZ(-70deg) translate(-4px, -10px);
       -o-transform: rotateZ(-70deg) translate(-4px, -10px);
          transform: rotateZ(-70deg) translate(-4px, -10px);
}
#emptystar > div:last-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 7px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  -webkit-transform: rotateZ(-35deg) translate(1px, -13px);
     -moz-transform: rotateZ(-35deg) translate(1px, -13px);
      -ms-transform: rotateZ(-35deg) translate(1px, -13px);
       -o-transform: rotateZ(-35deg) translate(1px, -13px);
          transform: rotateZ(-35deg) translate(1px, -13px);
}

/* ========================= */
#basket {
  width: 40px;
  height: 40px;
  position: relative;
}
#basket > div:first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 15px;
  height: 3px;
  background-color: #888;
  -webkit-transform: translate(2px, 4px);
     -moz-transform: translate(2px, 4px);
      -ms-transform: translate(2px, 4px);
       -o-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}
#basket > div:first-child:before {
  content: '';
  display: block;
  width: 3px;
  height: 15px;
  background-color: #888;
  -webkit-transform: translate(-3px, -12px) rotateZ(-20deg);
     -moz-transform: translate(-3px, -12px) rotateZ(-20deg);
      -ms-transform: translate(-3px, -12px) rotateZ(-20deg);
       -o-transform: translate(-3px, -12px) rotateZ(-20deg);
          transform: translate(-3px, -12px) rotateZ(-20deg);
}
#basket > div:first-child:after {
  content: '';
  display: block;
  width: 3px; 
  height: 15px;
  background-color: #888; 
  -webkit-transform: translate(15px, -27px) rotateZ(20deg);
     -moz-transform: translate(15px, -27px) rotateZ(20deg);
      -ms-transform: translate(15px, -27px) rotateZ(20deg);
       -o-transform: translate(15px, -27px) rotateZ(20deg);
          transform: translate(15px, -27px) rotateZ(20deg);
}
#basket > div:last-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #888;
  -webkit-transform: translate(-3px, 10px);
     -moz-transform: translate(-3px, 10px);
      -ms-transform: translate(-3px, 10px);
       -o-transform: translate(-3px, 10px);
          transform: translate(-3px, 10px);
}
#basket > div:last-child:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #888;
  border-radius: 50%;
  -webkit-transform: translateX(10px);
     -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
       -o-transform: translateX(10px);
          transform: translateX(10px);
}
#basket > div:last-child:after {
  content: '';
  display: block;
  width: 7px;
  height: 3px;
  background-color: #888;
  -webkit-transform: translate(-10px, -22px);
     -moz-transform: translate(-10px, -22px);
      -ms-transform: translate(-10px, -22px);
       -o-transform: translate(-10px, -22px);
          transform: translate(-10px, -22px);
}

/* ========================= */
#social {
  width: 40px;
  height: 40px;
  position: relative;
}
#social > div:first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 7px;
  z-index: 2;
  background-color: #aaa;
  border-radius: 50% 50% 0% 0%;
  -webkit-transform: translate(-4px, 10px);
}
#social > div:first-child:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 10px solid #aaa;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-transform: translate(7px, -9px);
}
#social > div:first-child:after {
  content: '';
  display: block;
  width: 12px;
  height: 17px;
  background-color: #aaa;
  border-radius: 40% 40% 50% 50%;
  -webkit-transform: translate(6px, -28px);
}
#social > div:last-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 7px;
  z-index: 1;
  background-color: #888;
  border-radius: 50% 50% 0% 0%;
  -webkit-transform: translate(5px, 7px) scale(0.8);
}
#social > div:last-child:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 10px solid #888;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-transform: translate(7px, -9px);
}
#social > div:last-child:after {
  content: '';
  display: block;
  width: 12px;
  height: 17px;
  background-color: #888;
  border-radius: 40% 40% 50% 50%;
  -webkit-transform: translate(6px, -28px);
}

/* ========================= */
#settings {
  width: 40px;
  height: 40px;
  position: relative;
}
#settings:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 4px solid #888;
}
#settings > div:first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 7px;
  height: 5px;
  background-color: #888;
  -webkit-transform: translateY(-10px);
}
#settings > div:first-child:before {
  content: '';
  display: block;
  width: 7px; 
  height: 5px;
  background-color: #888; 
  -webkit-transform: translate(9px, 5px) rotateZ(60deg);
}
#settings > div:first-child:after {
  content: '';
  display: block;
  width: 7px;
  height: 5px;
  background-color: #888; 
  -webkit-transform: translate(9px, 10px) rotateZ(120deg);
}
#settings > div:last-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 7px; 
  height: 5px;
  background-color: #888; 
  -webkit-transform: translateY(10px);
}
#settings > div:last-child:before {
  content: '';
  display: block;
  width: 7px;
  height: 5px;
  background-color: #888; 
  -webkit-transform: translate(-9px, -5px) rotateZ(-120deg);
}
#settings > div:last-child:after {
  content: '';
  display: block;
  width: 7px;
  height: 5px;
  background-color: #888; 
  -webkit-transform: translate(-9px, -20px) rotateZ(-60deg);
}